<main class="main">
  <h1>Henry Potier</h1>
  <table>
    <thead>
    <tr>
    <th>Title </th>
    <th>Price </th>
    <th>Cover </th>
    <th>Synopsys</th>
    <th>Buy </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
    <td>{{ book.title }}</td>
    <td>{{ book.price }} € </td>
    <td> <img [src]="book.cover" alt="" height="220"></td>
    <td> {{ book.synopsis[0] }} </td>
    <td> <button (click)="addButton(book)"> Add </button> </td>
    </tr>
    </tbody>
    </table>
    <div class="cart">
      <h1>Cart</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>{{ item.title }}</td>
            <td>{{ item.price }} € </td>
            <td>{{ item.quantity }} </td>
          </tr>
        </tbody>
      </table>
      <div>
        <h3>Price without reduction : {{ RealPrice }} €</h3>
        <h3>Total Price : {{ totalPrice }} €</h3>
      </div>
    </div>
</main>